@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-index">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome admin hope you have a nice day.</p>
</div>

<div class="img-central">
    <img src="img/LogoMano.png"/> 
</div>
